

.button{
  font: var(--fontButton);
  padding-block: .81rem;
  padding-inline: 1.5rem;
  border:none;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  border-radius: .25rem;
  background: none;
  text-decoration: none;
  text-align: center;

  transition: .7s;
  will-change: transform;
}


.button:hover{
  transform: scale(1.08);
  /* color: red; */
}

.button.is-primary{
  background: var(--primary);
  color: var(--white);
}

.button.is-secundary{
  border: 2px solid var(--primary);
  color: var(--primary);
  background: none;
}


