.message{
  block-size: 42.4rem;
  /* display: flex; */
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;

  display: none;
}

.message blockquote{
  font-size: 2.12rem;
  line-height: 3.43rem;
  font-weight: 300;
}

.message p{
  font: var(--headline5);
}

.message a{
  text-decoration: none;
  font-size: 5rem;
  color: var(--primary);
}


@media screen and (min-width:768px){
  .message{
    display: flex;
  }
}